@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --laranja: #FEA943;
    --cinzaclaro: #E6E6E6;
    --preto: #2A2528;
    --branco: white;
    --cinzaescuro: #322C34;
    --cinzaclaro: #5E5361;
    --cinzatexto: #838383;
}

header {
    width: 1170px;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
}

.logo {
    margin-right: auto;
}

.header-contats {
    list-style: none;
    display: flex;
}

.header-contats li {
    padding: 0px 20px;
}
.header-contats li svg {
    
}

main {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.055), rgba(247, 247, 247, 0.014)), url('imagens/imagemheader.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.main-text {
    position: absolute;
    width: 1170px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.main-content {
    width: 505px;
}

.main-content > * + * {
    margin: 35px 0px;
}

.main-content p {
    font-size: 16px;
    font-weight: 300;
}

.main-content button {
    width: 229px;
    height: 60px;
    border-radius: 5px;
    background-color: var(--laranja);
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

/* About */

.linhas {
    border: 2px solid var(--laranja);
    border-radius: 2px;
    width: 70px;
    margin-bottom: 15px;
}

.about {
    margin: 90px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-foto { 
    position: relative;
}

.borda-fotos {
    position: absolute;
    top: 10px;
    left: -9px;
    width: 100%;
    height: 99%;
    border: 5px solid #FEA943;
}

.about-content {
    width: 407px;
    margin-right: 15%;
}

.about-content h2 {
    font-size: 34px;
    color: var(--laranja);
    margin: 5px 0 15px 0;
}
.about-content h3 {
    font-size: 21px;
}

.about-content p {
    font-weight: 300;
    color: var(--cinzatexto);
}

/* Testimony */

article { 
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(imagens/imagemtestimony.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 348px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-itens {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-itens > * + * {
    
}